* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
	height:100%;
	background-color: #000000;
	background-image: url("../IMAGES/JPG/18.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}

li{
	list-style: none;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #212A3E;
	font-size: 1rem;
}
a:hover {
	color: #ffffff;
}

header{
	background-color: #E5E1DA;;
	position: relative;
	padding: 0 2rem;
}

.navbar{
	width:100%;
	height:60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links{
	display: flex;
	gap: 2rem;
}

.navbar .toggle_btn{
	color: #ffffff;
	font-size: 1.5rem;
	cursor: pointer;
	display:none;
}

.action_btn {
	background-color: #B4D4FF;
	color: #ffffff;
	padding: 0.5rem 1rem;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
	transition: scale 0.2 ease;
}

.action_btn:hover {
	scale: 1.05;
	color: #ffffff;
}

.active_btn:active {
	scale: 0.95;
}
/* dropdown menu */
.dropdown_menu {
	z-index: 2;
	display: none;
	position:absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	height: 0;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	backdrop-filter: blur(15px);
	overflow: hidden;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
	height: 249px;
}

.dropdown_menu li{
	padding: 0.7rem;
    display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .action_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}
/* responsive code */

@media (max-width: 992px) {
	.navbar .links,
	.navbar .action_btn {
		display: none;
	}
	
	.navbar .toggle_btn {
		display: block;
	}
	.dropdown_menu {
		display: block;
	}
}

@media (max-width: 576px) {
	.dropdown_menu { 
		left: 2rem;
		width: unset;
	}
	
}

/*episodi*/
 
.prova{
   width: 100vw;
   min-height: 60vh;
   display: flex;
   flex-wrap: wrap;
   margin-top: 50px;	
   align-items: flex-start;
   justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 90px;
  grid-template-areas: "image" "text";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
.card-image {
  grid-area: image;
  background: url("../IMAGES/JPG/59.jpeg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

/*card2*/
.card-image.card2 {
  background: url("../IMAGES/JPG/45.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card2 .date {
  color: rgb(255, 77, 7);
}

/*card3*/
.card-image.card3 {
  background: url("../IMAGES/JPG/66.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card3 .date {
  color: rgb(0, 189, 63);
}

/*card4*/
.card-image.card4 {
  background: url("../IMAGES/JPG/53.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card4 .date {
  color: rgb(0, 189, 63);
}

/*card5*/
.card-image.card5 {
  background: url("../IMAGES/JPG/60.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card5 .date {
  color: rgb(0, 189, 63);
}

/*card6*/
.card-image.card6 {
  background: url("../IMAGES/JPG/58.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card6 .date {
  color: rgb(0, 189, 63);
}

/*card7*/
.card-image.card7 {
  background: url("../IMAGES/JPG/57.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card7 .date {
  color: rgb(0, 189, 63);
}

/*card8*/
.card-image.card8 {
  background: url("../IMAGES/JPG/56.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card8 .date {
  color: rgb(0, 189, 63);
}

/*card9*/
.card-image.card9 {
  background: url("../IMAGES/JPG/55.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card9 .date {
  color: rgb(0, 189, 63);
}

/*card10*/
.card-image.card10 {
  background: url("../IMAGES/JPG/52.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card10 .date {
  color: rgb(0, 189, 63);
}

/*card11*/
.card-image.card11 {
  background: url("../IMAGES/JPG/54.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card-text.card11 .date {
  color: rgb(0, 189, 63);
}

/*card11*/
.card-image.cardspeciale {
  background: url("../IMAGES/JPG/33.jpg");
  background-size: cover;
}
.card-text.cardspeciale .date {
  color: rgb(0, 189, 63);
}

/*card12*/
.card-image.card12 {
  background: url("../IMAGES/JPG/48.jpeg");
  background-size: cover;
}
.card-text.card12 .date {
  color: rgb(255, 77, 7);
}

/*card13*/
.card-image.card13 {
  background: url("../IMAGES/JPG/50.jpeg");
  background-size: cover;
}
.card-text.card13 .date {
  color: rgb(0, 189, 63);
}

/*card14*/
.card-image.card14 {
  background: url("../IMAGES/JPG/49.jpeg");
  background-size: cover;
}
.card-text.card14 .date {
  color: rgb(0, 189, 63);
}

/*card15*/
.card-image.card15 {
  background: url("../IMAGES/JPG/51.jpeg");
  background-size: cover;
}
.card-text.card15 .date {
  color: rgb(0, 189, 63);
}

/*card16*/
.card-image.card16 {
  background: url("../IMAGES/PNG/4.png");
  background-size: cover;
}
.card-text.card16 .date {
  color: rgb(0, 189, 63);
}

/*card17*/
.card-image.card17 {
  background: url("../IMAGES/PNG/3.png");
  background-size: cover;
}
.card-text.card17 .date {
  color: rgb(0, 189, 63);
}

/*card18*/
.card-image.card18 {
  background: url("../IMAGES/JPG/47.jpeg");
  background-size: cover;
}
.card-text.card18 .date {
  color: rgb(0, 189, 63);
}

/*card18.5*/
.card-image.card18_5 {
  background: url("../IMAGES/JPG/61.jpeg");
  background-size: cover;
}
.card-text.card18_5 .date {
  color: rgb(0, 189, 63);
}

/*card19*/
.card-image.card19 {
  background: url("../IMAGES/PNG/5.png");
  background-size: cover;
}
.card-text.card19 .date {
  color: rgb(0, 189, 63);
}

/*card20*/
.card-image.card20 {
  background: url("../IMAGES/PNG/1.png");
  background-size: cover;
}
.card-text.card20 .date {
  color: rgb(0, 189, 63);
}

/*card21*/
.card-image.card21 {
  background: url("../IMAGES/PNG/2.png");
  background-size: cover;
}
.card-text.card21 .date {
  color: rgb(0, 189, 63);
}

/*card21.5*/
.card-image.card21_5 {
  background: url("../IMAGES/JPG/14.jpg");
  background-size: cover;
}
.card-text.card21_5 .date {
  color: rgb(0, 189, 63);
}

/*card22*/
.card-image.card22 {
  background: url("../IMAGES/JPG/44.jpg");
  background-size: cover;
}
.card-text.card22 .date {
  color: rgb(0, 189, 63);
}


/*card23*/
.card-image.card23 {
  background: url("../IMAGES/JPG/46.jpeg");
  background-size: cover;
}
.card-text.card23 .date {
  color: rgb(0, 189, 63);
}

.cardin:hover {
	color: #212A3E;
}


/*copyright*/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media (max-width: 600px) {
	body {
		overflow-x: hidden;
	}
	footer, 
	.footer-bottom,
	header {
		width: 100%;
	}
}

/*caricamento*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 2;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #212A3E;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(1turn);
  }
  to {
    transform: rotate(1turn);
  }
}
